<section data-anim="slide-up" class="cta -type-2 cta-banner">
    <div class="cta__bg">
        <img src="{{'assets/img/cta/2/bg.png'|theme}}" alt="image">

        <div class="cta__image">
            <img src="{{'assets/img/cta/1/uitzicht4.jpg'|theme}}" alt="image">
            <img src="{{'assets/img/cta/2/shape.svg'|theme}}" alt="image">
            <img src="{{'assets/img/cta/2/shape2.svg'|theme}}" alt="image">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-7">
                <div class="cta__content">
                    <h2 class="text-40 md:text-30  lh-13">
                        Bekijk onze <span class="text-accent-1">beschikbaarheid</span><br class="lg:d-none"> en reserveer vandaag nog!<br class="lg:d-none">
                    </h2>

                    <div class="mt-30 md:mt-20">
                        <a href="{{'boek-nu'|page}}" class="button -md -dark-1 bg-accent-1 text-white">
                            Reserveer Nu
                            <i class="icon-arrow-top-right ml-10 text-16"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

