url = "/villa"
layout = "default"
title = "Villa"
meta_title = "{{section.title}}"

[section]
handle = "Villa"
identifier = "slug"
value = "{{ :slug }}"
==
{% partial 'helpers/image-slider' section=section %}
<section class="layout-pt-md js-pin-container">
    <div class="container">
        <div class="row y-gap-30 justify-between">
            <div class="col-lg-9">
                <h2 class="text-30">Omschrijving</h2>
                <p class="mt-20">{{ section.content|raw }}</p>
                {% if section.youtube_url %}
                <iframe width="550" height="315"
                        src="https://www.youtube.com/embed/{{ section.youtube_url }}"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
                </iframe>
                {% endif %}
                <div class="line mt-60 mb-60"></div>
                <h2 class="text-30">Voorzieningen</h2>
                <div class="row pt-20">
                    {% for facility in section.facilities %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="d-flex align-items-center mb-20">
                            <img src="{{facility.icon.path}}" class="facility-icon">
                            <div>{{ facility.title }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% if section.transport %}
                <div class="line mt-60 mb-60"></div>
                <h2 class="text-30">Vervoer</h2>
                <div class="mt-30">
                    {{ section.transport|raw }}
                </div>
                {% endif %}


                {% if section.prices %}
                <div class="line mt-60 mb-60"></div>
                <h2 class="text-30">Prijzen</h2>
                <div class="mt-30">
                    {{ section.prices|raw }}
                </div>
                {% endif %}

                {% if section.book_link %}
                <div class="line mt-60 mb-60"></div>
                <h2 class="text-30">Beschikbaarheid</h2>
                <iframe src="{{section.book_link}}"
                        frameBorder="0" width="100%" height="1400px" allowTransparency></iframe>
                {% endif %}
                {% if section.booking_calendar %}
                <div class="line mt-60 mb-60"></div>
                <h2 class="text-30">Beschikbaarheid</h2>
                {% partial 'helpers/booking-calendar' %}
                <div class="mt-60 mb-60"></div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
